<div class="profileMigration" *ngIf="ready && !profilesMigrationHidden && profilesCount > 0">
  <div class="alert warning">
    <div class="alert-icon cozy-icon-info"></div>
    <div class="alert-message">
      <div class="alert-title">{{ "profileMigrationTitle" | i18n }}</div>
      <div *ngIf="profilesCount === 1">
        {{ "profileMigrationContentSingle" | i18n: deadline:remaining }}
      </div>
      <div *ngIf="profilesCount > 1">
        {{ "profileMigrationContentMultiple" | i18n: deadline:remaining:profilesCount }}
      </div>
    </div>
    <div class="alert-action">
      <button type="button" class="btn link" (click)="moreInfo()">
        {{ "profileMigrationAction" | i18n }}
      </button>
      <button type="button" class="btn link" (click)="understood()">
        {{ "understood" | i18n }}
      </button>
    </div>
  </div>
</div>
