<header [style.padding-left]="(currentPannel !== 'none') ? 'unset' : '8px'" >
    <button type="button" appBlurClick (click)="unActivatePanel()"
        [style.display]="(currentPannel !== 'none') ? '' : 'none'"
         >
        <span class="header-icon" title="{{'back' | i18n}}"><i class="icon-cozy icon-back"></i></span>
    </button>
    <div class="search {{searchTagClass}}" (click)="unActivatePanel()">
        <i class="fa fa-search"></i>
        <div id="search-tag">
            <span id="search-tag-text">{{searchTagText}}</span>
            <span>X</span>
        </div>
        <input #searchInput type="{{searchTypeSearch ? 'search' : 'text'}}"
            placeholder="{{searchTagClass === 'hideSearchTag' ? ('searchVault' | i18n) : ''}}"
            id="search"
            [(ngModel)]="searchText" (input)="search(200)" autocomplete="off">
        <i class="fa fa-close" aria-hidden="true" (click)="unActivatePanel()"></i>
    </div>
    <button (click)="openWebApp()" appA11yTitle="{{'popOutNewWindow' | i18n}}">
        <i class="icon-cozy icon-out-w"  aria-hidden="true"></i>
    </button>
    <button appBlurClick (click)="addCipher()" appA11yTitle="{{'addItem' | i18n}}">
        <i class="icon-cozy icon-plus"  aria-hidden="true"></i>
    </button>
</header>

<content #groupingContent class="groupingContent">

    <!-- **************************************************************** -->
    <!-- ACCESS CIPHERS : by types, by folders, by collection and trashed -->
    <div class="box list">
        <div class="box-header">
            {{'types' | i18n}}
            <!-- <span class="flex-right">4</span> -->
        </div>
        <div class="box-content single-line">
            <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.Login)">
                <div class="row-main">
                    <div class="icon"><i class="icon-cozy icon-login"></i></div>
                    <span class="text">{{'typeLogin' | i18n}}</span>
                </div>
                <span class="row-sub-label">{{typeCounts.get(cipherType.Login) || 0}}</span>
                <span><i class="fa fa-chevron-right fa-lg row-sub-icon"></i></span>
            </a>
            <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.Card)">
                <div class="row-main">
                    <div class="icon"><i class="icon-cozy icon-bank"></i></div>
                    <span class="text">{{'typeCard' | i18n}}</span>
                </div>
                <span class="row-sub-label">{{typeCounts.get(cipherType.Card) || 0}}</span>
                <span><i class="fa fa-chevron-right fa-lg row-sub-icon"></i></span>
            </a>
            <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.Identity)">
                <div class="row-main">
                    <div class="icon"><i class="icon-cozy icon-identity"></i></div>
                    <span class="text">{{'typeIdentity' | i18n}}</span>
                </div>
                <span class="row-sub-label">{{typeCounts.get(cipherType.Identity) || 0}}</span>
                <span><i class="fa fa-chevron-right fa-lg row-sub-icon"></i></span>
            </a>
            <a href="#" class="box-content-row" appStopClick appBlurClick (click)="showCurrentPagePanel()">
                <div class="row-main">
                    <div class="icon"><i class="fa fa-search"></i></div>
                    <span class="text">Pour ce site web</span>
                </div>
                <span><i class="fa fa-chevron-right fa-lg row-sub-icon"></i></span>
            </a>
        </div>
    </div>
    <div class="box list"
        >
        <!-- *ngIf="nestedFolders && nestedFolders.length" -->
        <div class="box-header">
            {{'folders' | i18n}}
        </div>
        <div class="box-content single-line">
            <a *ngFor="let f of nestedFolders" href="#" class="box-content-row" appStopClick appBlurClick
                (click)="selectFolder(f.node)">
                <div class="row-main">
                    <div class="icon">
                        <i class="fa fa-fw fa-lg"
                            [ngClass]="{'fa-folder-open': f.node.id, 'fa-folder-open-o': !f.node.id}"></i>
                    </div>
                    <span class="text">{{f.node.name}}</span>
                </div>
                <span class="row-sub-label">{{folderCounts.get(f.node.id) || 0}}</span>
                <span><i class="fa fa-chevron-right fa-lg row-sub-icon"></i></span>
            </a>
            <a href="#" class="box-content-row" appStopClick appBlurClick
                (click)="selectTrash()">
                <div class="row-main">
                    <div class="icon"><i class="fa fa-fw fa-lg fa-trash-o"></i></div>
                    <span class="text">{{'trash' | i18n}}</span>
                </div>
                <span class="row-sub-label">{{deletedCount}}</span>
                <span><i class="fa fa-chevron-right fa-lg row-sub-icon"></i></span>
            </a>
        </div>
    </div>

    <!-- ************************************ -->
    <!-- CURRENT WEB PAGE PANEL               -->
    <div *ngIf="showCurrentPageCiphersPanel()" class="ciphersPanel" [@toggleClick]="isPannelVisible" [@.disabled]="!enableAnimations">
        <div class="box list">
            <div class="box-header">
                {{'typeLogins' | i18n}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersForCurrentPage" title="{{'viewItem' | i18n}}" [showGlobe]="false"
                    (onSelected)="viewCipher($event)" (onAutofill)="fillCipher($event)"
                    *ngIf="ciphersForCurrentPage.length"
                >
                </app-ciphers-list>
                <div class="box-content-row padded no-hover"
                    *ngIf="!ciphersForCurrentPage.length"
                >
                    <p class="text-center">{{'autoFillInfo' | i18n}}</p>
                    <button type="button" class="btn link block" (click)="addCipher()">
                        {{'addLogin' | i18n}}
                    </button>
                </div>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'cards' | i18n}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType[3]" title="{{'viewItem' | i18n}}" [showGlobe]="false"
                (onSelected)="viewCipher($event)" (onAutofill)="fillCipher($event)"></app-ciphers-list>
                <div class="box-content-row padded no-hover"
                    *ngIf="!ciphersByType[3] || ciphersByType[3].length === 0"
                >
                    <button type="button" class="btn link block" (click)="addCardCipher()">
                        {{'addCard' | i18n}}
                    </button>
                </div>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'identities' | i18n}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType[4]" title="{{'viewItem' | i18n}}" [showGlobe]="false"
                (onSelected)="viewCipher($event)" (onAutofill)="fillCipher($event)"></app-ciphers-list>
                <div class="box-content-row padded no-hover"
                    *ngIf="!ciphersByType[4] || ciphersByType[4].length === 0"
                >
                    <button type="button" class="btn link block" (click)="addIdentityCipher()">
                        {{'addIdentity' | i18n}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ********************** -->
    <!-- SEARCH RESULTS PANEL   -->
    <div class="ciphersPanel" [@toggleClick]="isPannelVisible" *ngIf="showSearchPanel()" [@.disabled]="!enableAnimations">

        <div class="box list" *ngIf="ciphersByType[1] && ciphersByType[1].length">
            <div class="box-header">
                {{'typeLogins' | i18n}}
                <span class="flex-right">{{ciphersByType[1].length}}</span>
            </div>
            <div class="box list full-list" *ngIf="ciphers && ciphers.length > 0">
                <div class="box-content">
                    <app-ciphers-list [ciphers]="ciphersByType[1]" title="{{'viewItem' | i18n}}"
                    (onSelected)="viewCipher($event)"
                    (onDoubleSelected)="launchCipher($event)"
                    [showGlobe]="true"
                    ></app-ciphers-list>
                </div>
            </div>
        </div>

        <div class="box list" *ngIf="ciphersByType[3] && ciphersByType[3].length">
            <div class="box-header">
                {{'cards' | i18n}}
                <span class="flex-right">{{ciphersByType[3].length}}</span>
            </div>
            <div class="box list full-list">
                <div class="box-content">
                    <app-ciphers-list [ciphers]="ciphersByType[3]" title="{{'viewItem' | i18n}}"
                    (onSelected)="viewCipher($event)"
                    (onDoubleSelected)="launchCipher($event)"
                    [showGlobe]="true"
                    ></app-ciphers-list>
                </div>
            </div>
        </div>

        <div class="box list" *ngIf="ciphersByType[4] && ciphersByType[4].length">
            <div class="box-header">
                {{'identities' | i18n}}
                <span class="flex-right">{{ciphersByType[4].length}}</span>
            </div>
            <div class="box list full-list">
                <div class="box-content">
                    <app-ciphers-list [ciphers]="ciphersByType[4]" title="{{'viewItem' | i18n}}"
                    (onSelected)="viewCipher($event)"
                    (onDoubleSelected)="launchCipher($event)"
                    [showGlobe]="true"
                    ></app-ciphers-list>
                </div>
            </div>
        </div>

        <div class="no-items" *ngIf="!ciphers || !ciphers.length">
            <p>{{'noItemsInList' | i18n}}</p>
        </div>

    </div>

    <!-- ************************************ -->
    <!-- LOGINS         PANEL                 -->
    <div *ngIf="showLoginsPanel()" class="ciphersPanel" [@toggleClick]="isPannelVisible" [@.disabled]="!enableAnimations">
        <div class="box list">
            <div class="box-header">
                {{'typeLogins' | i18n}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType[1]" title="{{'autoFill' | i18n}}" [showGlobe]="true"
                    (onSelected)="viewCipher($event)"
                    *ngIf="ciphersByType[1].length"
                >
                </app-ciphers-list>
                <div class="box-content-row padded no-hover explanation" *ngIf="!ciphersByType[1].length" >
                    <p class="text-center">
                        {{'addLoginExplanation_L1' | i18n}}<br>{{'addLoginExplanation_L2' | i18n}}
                    </p>
                    <button type="button" class="btn link block" (click)="addCipher()">
                        {{'addLogin' | i18n}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ************************************ -->
    <!-- CARDS PANEL                          -->
    <div *ngIf="showCardsPanel()" class="ciphersPanel" [@toggleClick]="isPannelVisible" [@.disabled]="!enableAnimations">
        <div class="box list">
            <div class="box-header">
                {{'cards' | i18n}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType[3]" title="{{'autoFill' | i18n}}" [showGlobe]="true"
                (onSelected)="viewCipher($event)"></app-ciphers-list>
                <div class="box-content-row padded no-hover explanation" *ngIf="!ciphersByType[3].length">
                    <p class="text-center">{{'addCardExplanation' | i18n}}</p>
                    <button type="button" class="btn link block" (click)="addCardCipher()">
                        {{'addCard' | i18n}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ************************************ -->
    <!-- IDENTITIES PANEL                     -->
    <div *ngIf="showIdentitiesPanel()" class="ciphersPanel" [@toggleClick]="isPannelVisible" [@.disabled]="!enableAnimations">
        <div class="box list">
            <div class="box-header">
                {{'identities' | i18n}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersByType[4]" title="{{'autoFill' | i18n}}" [showGlobe]="true"
                (onSelected)="viewCipher($event)"></app-ciphers-list>
                <div class="box-content-row padded no-hover explanation" *ngIf="!ciphersByType[4].length" >
                    <p class="text-center">{{'addIdentityExplanation' | i18n}}</p>
                    <button type="button" class="btn link block" (click)="addIdentityCipher()">
                        {{'addIdentity' | i18n}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ************************************ -->
    <!-- FOLDER PANEL                         -->
    <div *ngIf="showFolderPanel()" class="ciphersPanel" [@toggleClick]="isPannelVisible" [@.disabled]="!enableAnimations">
        <div class="box list">
            <div class="box-header">
                {{selectedFolderTitle}}
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="ciphersForFolder" title="{{'autoFill' | i18n}}" [showGlobe]="true"
                (onSelected)="viewCipher($event)"></app-ciphers-list>
                <div class="box-content-row padded no-hover explanation" *ngIf="!ciphersForFolder.length" >
                    <p class="text-center">
                        {{'addLoginExplanation_L1' | i18n}}<br>{{'addLoginExplanation_L2' | i18n}}
                    </p>
                    <button type="button" class="btn link block" (click)="addIdentityCipher()">
                        {{'addLogin' | i18n}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</content>
