<div
  role="group"
  appA11yTitle="{{ cipher.name }}"
  class="virtual-scroll-item"
  [ngClass]="{ 'override-last': !last }"
>
  <div class="box-content-row box-content-row-flex">
    <button
      type="button"
      (click)="selectCipher(cipher)"
      (dblclick)="launchCipher(cipher)"
      appStopClick
      title="{{ title }} - {{ cipher.name }}"
      class="row-main"
    >
      <!-- Cozy custo
      <app-vault-icon [cipher]="cipher"></app-vault-icon>
      -->
      <ng-container *ngIf="cipher.type === cipherType.Login">
        <app-vault-icon [cipher]="cipher"></app-vault-icon>
      </ng-container>
      <ng-container *ngIf="cipher.type === cipherType.Card">
        <div class="icon" aria-hidden="true">
          <i class="icon-cozy icon-card"></i>
        </div>
      </ng-container>
      <ng-container *ngIf="cipher.type === cipherType.Identity">
        <div class="icon" aria-hidden="true">
          <i class="icon-cozy icon-identity"></i>
        </div>
      </ng-container>
      <ng-container
        *ngIf="cipher.type === cipherType.Paper && cipher.paper.illustrationThumbnailUrl"
      >
        <div class="icon" aria-hidden="true">
          <img
            class="icon-paper-wrapper"
            [src]="sanitize(cipher.paper.illustrationThumbnailUrl)"
            (error)="onThumbnailError()"
          />
        </div>
      </ng-container>
      <!-- end custo-->
      <div class="row-main-content">
        <span class="text">
          <span class="truncate-box">
            <span class="truncate">{{ cipher.name }}</span>
            <!-- Cozy custo
            <ng-container *ngIf="cipher.organizationId">
              <i
                class="bwi bwi-collection text-muted"
                title="{{ 'shared' | i18n }}"
                aria-hidden="true"
              ></i>
              <span class="sr-only">{{ "shared" | i18n }}</span>
            </ng-container>
            <ng-container *ngIf="cipher.hasAttachments">
              <i
                class="bwi bwi-paperclip text-muted"
                title="{{ 'attachments' | i18n }}"
                aria-hidden="true"
              ></i>
              <span class="sr-only">{{ "attachments" | i18n }}</span>
            </ng-container>
            -->
            <ng-container *ngIf="cipher.organizationId && !isKonnector">
              <i class="icon-cozy icon-share" title="{{ 'shared' | i18n }}" aria-hidden="true"></i>
            </ng-container>
            <ng-container *ngIf="cipher.organizationId && isKonnector">
              <i
                class="icon-cozy icon-cozy-sync"
                title="{{ 'sharedWithKonnector' | i18n }}"
                aria-hidden="true"
              >
              </i>
            </ng-container>
            <!-- end custo -->
          </span>
        </span>
        <span class="detail">{{ getSubtitle(cipher) }}</span>
      </div>
    </button>
    <app-action-buttons
      [cipher]="cipher"
      (onView)="viewCipher(cipher)"
      (launchEvent)="launchCipher(cipher)"
      (onAutofill)="autofill(cipher)"
      class="action-buttons"
      [showGlobe]="showView"
    >
    </app-action-buttons>
  </div>
</div>
