@import "variables.scss";

app-sync {
  main {
    .btn {
      margin-bottom: 10px;
    }
  }
}

app-generator .generated-block {
  font-size: $font-size-large;
  font-family: $font-family-sans-serif;
  margin: 8px;
  /* Cozy custo
  padding: 8px 10px 8px 0;
  display: flex;
  border-radius: $border-radius;
  border: 1px solid;

  @include themify($themes) {
    background-color: transparent;
    border-color: themed("borderColorAlt");
  }
  */
  padding: 8px 10px 8px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 0.188rem;
  border: 0.063rem solid $gray;
  @include themify($themes) {
    background-color: themed("boxBackgroundColor");
  }
  // end custo

  .generated-wrapper {
    text-align: left;
    width: 100%;
    min-width: 0;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 15px;
    border-radius: $border-radius;

    @include themify($themes) {
      background-color: themed("backgroundColor");
    }
  }

  .action-buttons {
    display: flex;
    align-self: center;
    height: 100%;
    margin-left: 10px;

    button {
      padding: 6px;
      // margin: 2px;
      border-radius: $border-radius;

      &:hover {
        @include themify($themes) {
          background-color: themed("hoverColorTransparent");
        }
      }
    }
  }
}

app-generator .box-content-row:before {
  width: 100%;
}

// Cozy custo
app-generator {
  .inputWithIcon {
    display: flex;
    align-items: center;
    .icon-cozy {
      height: 12px;
      margin-right: 10px;
      cursor: pointer;
      @include themify($themes) {
        background-color: themed("mutedColor");
      }
    }
  }
}

app-generator .box-content-row input[type="text"]:not([name=""]) {
  &:focus {
    @include themify($themes) {
      background-color: themed("borderColor") !important;
    }
  }
}
// end custo

app-home {
  position: fixed;
  height: 100%;
  width: 100%;

  .center-content {
    margin-top: -50px;
    height: calc(100% + 50px);
  }

  img {
    width: 284px;
    margin: 0 auto;
  }

  p.lead {
    margin: 30px 37px 55px 37px;
  }

  .btn + .btn {
    margin-top: 10px;
  }

  button.settings-icon {
    position: absolute;
    top: 10px;
    left: 10px;

    @include themify($themes) {
      color: themed("mutedColor");
    }

    &:not(:hover):not(:focus) {
      span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;

      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }

  .signup-link {
    display: block;
    text-align: center;
    margin-top: 32px;
    cursor: pointer;
  }
}

.app-private-mode-warning {
  display: block;
  padding-top: 1rem;
}

body.body-sm,
body.body-xs {
  app-home {
    .center-content {
      margin-top: 0;
      height: 100%;
    }

    p.lead {
      margin: 15px 0;
    }
  }
}

body.body-full {
  app-home {
    .center-content {
      margin-top: -80px;
      height: calc(100% + 80px);
    }
  }
}

.createAccountLink {
  padding: 30px 10px 0 10px;
}

.remember-email-check {
  padding-top: 8px;
  padding-left: 10px;
  /*Cozy custo
  padding-bottom: 18px;
  */
  padding-bottom: 25px;
  /* end custo */
}

.login-buttons > button {
  margin: 15px 0 15px 0;
}

app-options {
  .box {
    margin: 10px 0;

    & + .box {
      margin-top: 10px;
    }
  }
}

app-vault-view,
app-vault-add-edit,
app-generator,
app-vault-attachments {
  .box {
    /* Cozy customization
    margin: 15px 0 25px 0;
    */
    margin-top: 15px;

    /*
    & + .box {
      margin-top: 25px;
    }
    */

    /* Cozy customization end */
  }
}

app-vault-share {
  .box {
    padding: 45px 20px 0 20px;
  }
}

/* Cozy custo */

app-help-and-feedback .box-content {
  padding-top: 25px;
}

#premium-banner {
  width: 100%;
  position: absolute;
  bottom: 55px;
  z-index: 1;
  flex: 0;
  > div {
    padding: 4px 0 11px 0;
    @include themify($themes) {
      background-color: themed("backgroundColor");
    }
  }

  .close-premium {
    margin-right: 15px;
    display: block;
    margin-left: auto;
    .icon-cross-premium {
      width: 10px;
      height: 10px;
      @include themify($themes) {
        background-color: themed("mutedColor");
      }
    }
  }

  p {
    text-align: center;
    @include themify($themes) {
      color: themed("mutedColor");
    }
    font-size: 13px;
    margin-bottom: 0;
  }
}

.with-banner main {
  bottom: 110px;
}
/* end custo */
