<div class="tab-page">
  <router-outlet></router-outlet>
  <div *ngIf="shouldDisplayPremiumNote()" id="premium-banner">
    <button
      type="button"
      class="close-premium"
      appBlurClick
      (click)="close()"
      title="{{ 'close_shortcut' | i18n }}"
    >
      <i class="icon-cozy icon-cross-mask icon-cross-premium" aria-hidden="true"></i>
    </button>
    <p>{{ "premiumDesc1" | i18n }}</p>
    <p>
      <a (click)="openPremiumPage()" href="#">{{ "premiumDesc2" | i18n }}</a>
    </p>
  </div>
  <nav class="tabs">
    <ul>
      <!-- Cozy customization; hide "This web page" tab
      <li routerLinkActive="active" #rlaCurrentTab="routerLinkActive" *ngIf="showCurrentTab">
        <button
          type="button"
          routerLink="current"
          appA11yTitle="{{ 'currentTab' | i18n }}"
          [attr.aria-pressed]="rlaCurrentTab.isActive"
        >
          <i class="bwi bwi-folder-closed-f bwi-2x" aria-hidden="true"></i>{{ "tab" | i18n }}
        </button>
      </li>
      -->
      <li routerLinkActive="active" #rlaMyVault="routerLinkActive">
        <button
          type="button"
          class="tab-icon-cozy"
          routerLink="vault"
          appA11yTitle="{{ 'myVault' | i18n }}"
          [attr.aria-pressed]="rlaMyVault.isActive"
        >
          <i class="bwi bwi-lock-f bwi-2x" aria-hidden="true"></i>{{ "vault" | i18n }}
        </button>
      </li>
      <!-- Cozy customization; hide "Send" tab
      <li routerLinkActive="active" #rlaSend="routerLinkActive">
        <button
          type="button"
          routerLink="send"
          appA11yTitle="{{ 'send' | i18n }}"
          [attr.aria-pressed]="rlaSend.isActive"
        >
          <i class="bwi bwi-send-f bwi-2x" aria-hidden="true"></i>{{ "send" | i18n }}
        </button>
      </li>
      -->
      <li routerLinkActive="active" #rlaGenerator="routerLinkActive">
        <button
          type="button"
          class="tab-icon-cozy"
          routerLink="generator"
          appA11yTitle="{{ 'passGen' | i18n }}"
          [attr.aria-pressed]="rlaGenerator.isActive"
        >
          <i class="bwi bwi-generate-f bwi-2x" aria-hidden="true"></i>{{ "generator" | i18n }}
        </button>
      </li>
      <li routerLinkActive="active" #rlaSettings="routerLinkActive">
        <button
          type="button"
          class="tab-icon-cozy"
          routerLink="settings"
          appA11yTitle="{{ 'settings' | i18n }}"
          [attr.aria-pressed]="rlaSettings.isActive"
        >
          <i class="bwi bwi-cog-f bwi-2x" aria-hidden="true"></i>{{ "settings" | i18n }}
        </button>
      </li>
      <!-- Cozy customization; add "My Cozy" tab -->
      <li>
        <a
          class="tab-icon-cozy"
          appA11yTitle="{{ 'myCozyTab_toolTip' | i18n }}"
          href="{{ cozyUrl }}"
          target="_blank"
        >
          <i class="bwi bwi-2x tab-icon-cozy-cloud cozy-illus" aria-hidden="true"></i
          >{{ "myCozyTab" | i18n }}
        </a>
      </li>
      <!-- Cozy customization end-->
    </ul>
  </nav>
</div>
