<header>
  <div class="left">
    <button type="button" appBlurClick (click)="back()" title="{{ 'back_shortcut' | i18n }}">
      <span class="header-icon" title="{{ 'back' | i18n }}">
        <i class="icon-cozy icon-back"></i>
      </span>
    </button>
  </div>
  <h1 class="sr-only">{{ "myVault" | i18n }}</h1>
  <div class="search">
    <i class="icon-cozy icon-search"></i>
    <input
      type="{{ searchTypeSearch ? 'search' : 'text' }}"
      placeholder="{{ searchPlaceholder || ('searchVault' | i18n) }}"
      id="search"
      [(ngModel)]="searchText"
      (input)="search(200)"
      autocomplete="off"
      appAutofocus
      appInputVerbatim
    />
    <i
      class="icon-cozy icon-cross {{ searchText === '' ? 'invisible' : '' }}"
      aria-hidden="true"
      (click)="emptySearch()"
    ></i>
  </div>
  <div class="right">
    <button type="button" (click)="openWebApp()" appA11yTitle="{{ 'popOutNewWindow' | i18n }}">
      <i class="icon-cozy icon-out-w" aria-hidden="true"></i>
    </button>
    <button type="button" appBlurClick (click)="addCipher()" appA11yTitle="{{ 'addItem' | i18n }}">
      <i class="icon-cozy icon-plus" aria-hidden="true"></i>
    </button>
  </div>
</header>
<main tabindex="-1" [ngClass]="{ 'stacked-boxes': showGroupings() }">
  <ng-container *ngIf="showGroupings()">
    <!-- commented by cozy
    <app-vault-select
      *ngIf="showVaultFilter"
      (onVaultSelectionChanged)="changeVaultSelection()"
    ></app-vault-select>
    -->
    <div class="box list" *ngIf="nestedFolders && nestedFolders.length">
      <h2 class="box-header">
        {{ "folders" | i18n }}
      </h2>
      <div class="box-content single-line">
        <button
          type="button"
          *ngFor="let f of nestedFolders"
          class="box-content-row"
          appStopClick
          appBlurClick
          (click)="selectFolder(f.node)"
        >
          <div class="row-main">
            <div class="icon">
              <i class="bwi bwi-fw bwi-lg bwi-folder" aria-hidden="true"></i>
            </div>
            <span class="text">{{ f.node.name }}</span>
          </div>
          <span><i class="bwi bwi-angle-right bwi-lg row-sub-icon" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="box list" *ngIf="nestedCollections && nestedCollections.length">
      <h2 class="box-header">
        {{ "folders" | i18n }}
      </h2>
      <div class="box-content single-line">
        <button
          type="button"
          *ngFor="let c of nestedCollections"
          class="box-content-row"
          appStopClick
          appBlurClick
          (click)="selectCollection(c.node)"
        >
          <div class="row-main">
            <div class="icon">
              <i
                class="bwi bwi-fw bwi-lg"
                [ngClass]="{ 'bwi-folder': c.node.id, 'bwi-folder-closed-f': !c.node.id }"
              ></i>
            </div>
            <span class="text">{{ c.node.name }}</span>
          </div>
          <span><i class="bwi bwi-angle-right bwi-lg row-sub-icon" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="ciphers">
    <div *ngIf="!ciphers.length">
      <!-- commented by cozy
      <app-vault-select
        *ngIf="showVaultFilter && !showGroupings()"
        (onVaultSelectionChanged)="changeVaultSelection()"
      ></app-vault-select>
      -->
      <div class="no-items no-items-centered-up">
        <i class="bwi bwi-spinner bwi-spin bwi-3x" *ngIf="!loaded" aria-hidden="true"></i>
        <ng-container *ngIf="loaded">
          <!-- commented by Cozy
          <p>{{ "noItemsInList" | i18n }}</p>
          <button type="button" (click)="addCipher()" class="btn block primary link">
            {{ "addItem" | i18n }}
          </button>
          -->
          <!-- Cozy insertion -->
          <ng-container *ngIf="!type">
            <div class="icon"><i class="icon-cozy icon-login icon-double"></i></div>
            <p>{{ "noItemsInList" | i18n }}</p>
            <button type="button" (click)="addCipher()" class="btn block primary link">
              {{ "addItem" | i18n }}
            </button>
          </ng-container>
          <ng-container *ngIf="type === 1">
            <div class="icon"><i class="icon-cozy icon-login icon-double"></i></div>
            <p>{{ "addLoginExplanation" | i18n }}</p>
            <button type="button" (click)="addCipher()" class="btn block primary link">
              {{ "addLogin" | i18n }}
            </button>
          </ng-container>
          <ng-container *ngIf="type === 3">
            <div class="icon"><i class="icon-cozy icon-bank icon-double"></i></div>
            <p>{{ "addCardExplanation" | i18n }}</p>
            <button type="button" (click)="addCipher()" class="btn block primary link">
              {{ "addCard" | i18n }}
            </button>
          </ng-container>
          <ng-container *ngIf="type === 4">
            <div class="icon"><i class="icon-cozy icon-identity icon-double"></i></div>
            <p>{{ "addIdentityExplanation" | i18n }}</p>
            <button type="button" (click)="addCipher()" class="btn block primary link">
              {{ "addIdentity" | i18n }}
            </button>
          </ng-container>
          <!-- END Cozy insertion -->
        </ng-container>
      </div>
    </div>
    <cdk-virtual-scroll-viewport
      itemSize="55"
      minBufferPx="400"
      maxBufferPx="600"
      *ngIf="ciphers.length"
      #virtualScrollViewport
    >
      <!-- commented by cozy
      <app-vault-select
        *ngIf="showVaultFilter && !showGroupings()"
        (onVaultSelectionChanged)="changeVaultSelection()"
      ></app-vault-select>
      -->
      <div class="box list only-list">
        <h2 class="box-header">
          {{ groupingTitle }}
          <span class="flex-right">{{ isSearching() ? ciphers.length : "" }}</span>
        </h2>
        <div class="box-content">
          <app-cipher-row
            *cdkVirtualFor="let c of ciphers; let last = last"
            [cipher]="c"
            [last]="last"
            title="{{ 'viewItem' | i18n }}"
            (onSelected)="selectCipher($event)"
            (launchEvent)="launchCipher($event)"
            (onView)="viewCipher($event)"
            [showView]="true"
          ></app-cipher-row>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</main>
